
<div class="home-container container">
  <div class="home">
    <div class="home-text">
      <h1>Hi. I am Krunal,<h3>a India based Web Designer and Developer</h3></h1>
      <p>I am a full stack developer, who leads from designing to developing a whole project.</p> 

        <a href="/about">Learn more about me</a>
    </div>
    <div class="home-img">
      <img src="/Assets/images/home.png">
    </div>
  </div>
  <div class="home-mission">
    <h1>Mission</h1>
    <p>I build websites for exceptional user exprience, and user satisfaction motivates me to become more creative.</p>  
  </div>
</div>