<!-- Main Navigation -->
<div>
<nav>
  <div class="topnav mynav" id="myTopnav">
    <div class="nav-logo">
      <ul>
        <li><a href="/">COMP229</a></li>
      </ul>
      
    </div>
    <div class="nav-menu">
      <ul>
        <li>
          <a href="/home"><i class="fas fa-lg fa-laptop-house"></i>Home</a>
        </li>
        <li>
          <a href="/about"><i class="fa fa-user" aria-hidden="true"></i>About Me</a>
        </li>
        <li>
          <a href="/projects"><i class="fa fa-laptop" aria-hidden="true"></i>Projects</a>
        </li>
        <li>
          <a href="/services"><i class="fas fa-cogs"></i>Services</a>
        </li>
        <li>
          <a href="/contact"><i class="fas fa-mobile-alt"></i>Contact Me</a>
        </li>
      </ul>
    </div>
    <div class="nav-icons">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/krunal-97"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://github.com/Krunal-97"><i class="fab fa-github-square"></i></a>
        </li>
        <li>
          <a href="https://codepen.io/krunal-97/"><i class="fab fa-codepen"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/418KrUnAl"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>