<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  

  <!-- Main Content -->
<form action="./index.ejs" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>

  <input type="submit" value="Submit">
</form> 
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





